<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewis.configcenter.biz.dao.local.AppItemMapper">

    <select id="list" resultType="appItemDO">
        select * from AppItem
    </select>

    <insert id="insert" parameterType="appItemDO">
        INSERT INTO AppItem(AppName,AppDesc,EnvName,EnvDesc,DictKey,Value,Comment,PublishStatus,Status,CreateTime,UpdateTime)
        VALUES (#{appName},#{appDesc},#{envName},#{envDesc},#{dictKey},#{value},#{comment},#{publishStatus},#{status},#{createTime},#{updateTime})
    </insert>

    <delete id="delete" parameterType="long">
       DELETE from AppItem
       WHERE Id = #{id}
   </delete>

    <update id="update" parameterType="appItemDO">
        UPDATE AppItem
        SET Value =#{value},Comment = #{comment}
        WHERE Id = #{id}
    </update>

</mapper>