<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewis.configcenter.biz.dao.local.EnvironmentMapper">

    <select id="list" resultType="environmentDO">
        select * from environment
    </select>


    <insert id="insert" parameterType="environmentDO">
        INSERT INTO environment(EnvName,EnvDesc,Status,CreateTime,UpdateTime)
        VALUES (#{envName},#{envDesc},#{status},#{createTime},#{updateTime})
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM environment
        WHERE Id = #{id}
    </delete>
</mapper>