<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewis.configcenter.biz.dao.local.ReleaseMapper">

    <select id="list" resultType="ReleaseDO">
        select * from crelease
    </select>

    <select id="queryLastRelease" resultType="ReleaseDO" parameterType="string">
        select * from crelease
        where AppId = #{appId}
        order by Id desc limit 1
    </select>

    <insert id="insert" parameterType="ReleaseDO">
        INSERT INTO crelease(ReleaseKey,Name,Comment,AppId,Configurations,Status,Creator,CreateTime,Modifier,UpdateTime)
        VALUES (#{releaseKey},#{name},#{comment},#{appId},#{configurations},#{status},#{creator},#{createTime},#{modifier},#{updateTime})
    </insert>

    <delete id="delete" parameterType="long">
       DELETE from crelease
       WHERE Id = #{id}
   </delete>

</mapper>